# --- Database Settings ---
# Pydantic's discriminated union loader expects all keys
# for the selected 'type' to be flat inside this section.
[database]
# type = "sqlite3"
# db_location = "db.sqlite3"
# in_memory = false

type = "mssql"
server_name = "viriya\\SQLEXPRESS" # AI_DEV_SERVER
db_name = "AnalyticsDataMart" # AI_PROD_DB
driver = "ODBC Driver 17 for SQL Server"
trusted_connection = "yes"

# --- Logging Settings ---
[logging]
level = "INFO"
log_to_file = true
log_file = "main.log"
rotation_size_mb = 10
rotation_backup_count = 5
format = "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
